.app {
  height: 100vh;
  display: flex;
}

.products {
  width: 75%;
}

.cart {
  background-color: rgb(219, 219, 219);
  height: 100%;
  width: 30%;
}

button {
  cursor: pointer;
  border-radius: 5px;
  color: white;
  padding: 5;
  border: 0;
  border-radius: 5;
  background-color: "green";
  color: "white";
}

.add_to_cart {
  background-color: rgb(105, 170, 105);
}

.remove_from_cart {
  background-color: rgb(231, 89, 89);
}
